
@{
    ViewData["Title"] = "SimSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="SimSoCtrl" id="content" class="content-area page-wrapper" role="main">
    <div class="row row-main">
        <div class="large-12 col">
            <div class="col-inner">
                <div class="container section-title-container">
                    <h3 class="section-title section-title-center">
                        <b></b><span class="section-title-main">SIM SỐ</span><b></b>
                    </h3>
                </div>

                <!-- Form tìm kiếm -->
                <div style="background: #f8f8f8; height: 88px; width: 100%; border-radius: 15px">
                    <form class="example" ng-submit="searchSimSo()">
                        <input type="search" placeholder="Bạn tìm sim gì?.." name="search" ng-keypress="checkInput($event)" ng-model="searchText">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <!-- Danh sách kết quả -->
                <div style="margin-top: 10px;">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th class="data-cell">Số thuê bao</th>
                                <th class="data-cell">Loại thuê bao</th>
                                <th class="data-cell">Loại số</th>
                                <th class="data-cell">Giá bán</th>
                                <th class="data-cell">Giữ số</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="number-row" ng-repeat="simSo in searchResults">
                                <td class="number-cell">{{ simSo.soThueBao }}</td>
                                <td class="data-cell">{{ simSo.loaiThueBao }}</td>
                                <td class="data-cell">{{ simSo.loaiSo }}</td>
                                <td class="data-cell">{{ simSo.giaBan.toLocaleString(vi-vn) }}</td>
                                <td class="data-cell select-button">
                                    <a href="#" ng-click="selectSimSo(simSo)">Chọn số</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Phân trang -->
                    <div class="pagination">
                        <a href="#" ng-click="currentPage = 1">&laquo;</a>
                        <a href="#" ng-repeat="page in getPages()" ng-class="{ 'active': currentPage === page }" ng-click="setCurrentPage(page)">
                            {{ page }}
                        </a> <a href="#" ng-click="currentPage = totalPages">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AngularJS/Client/SimSo.js"></script>
}
